{% extends "layout.html" %}

{% block content %}
    <main class="container container-for-center-aligned-form-page">
        <div class="form-container">
            <form action="/change_password" method="post">
                <h3>Change Password</h3>
                {% if error %}
                    <header>
                        <div class="alert text-center error_text" role="alert">
                            {{ error }}
                        </div>
                    </header>
                {% endif %}
                <div class = "form-group">
                    <input type="password" autofocus autocomplete="off" class="form-control" name="old_password" placeholder="Old Password" required>
                </div>

                <div class = "form-group">
                    <input type="password" autofocus autocomplete="off" class="form-control" name="new_password" placeholder="New Password" required>
                </div>
                <div class = "form-group">
                    <input type="password" autofocus autocomplete="off" class="form-control" name="confirm_new_password" placeholder="Rewrite New Password" required>
                </div>
                <button class="btn btn-primary log-btn" type="submit">Save changes</button>
            </form>
        </div>
    </main>
{% endblock %}