{% extends "layout.html" %}

{% block title %}
    : Log In
{% endblock %}

{% block main %}
    <div class="form-container">
        <form action="/login" method="post">
            <h3>Login</h3>
            {% if error %}
                <header>
                    <div class="alert text-center error_text" role="alert">
                        {{ error }}
                    </div>
                </header>
            {% endif %}
            <div class = "form-group">
                <input type="text" autofocus autocomplete="off" class="form-control" name="username" placeholder="Username" required>
            </div>

            <div class = "form-group">
                <input type="password" autofocus autocomplete="off" class="form-control" name="password" placeholder="Password" required>
            </div>
            <button class="btn btn-primary log-btn" type="submit">Log In</button>
            <div class="form-text">
                <span>OR</span>
                <br>
                Don't have an account?
            </div>
            <a href="/register"><button class="btn btn-dark" type="button">Register</button></a>
        </form>
    </div>
{% endblock %}